body{
    font-family: 'Poppins', sans-serif;
    margin: 0%
}
h1{
      height:  50px;
    margin-left: 40px;
}
.violet-color{
  color: red
}
 section{
     display: flex;
 }
   .half-width{
      width:  50%;
       padding-left:2%;
   }
   .half-width img{
       width: 65%;
   }
   .link-button{
       
       text-shadow: teal;
       text-decoration: none;
       background-image:linear-gradient(white,rgb(11, 177, 86));
       padding: 5px 30px;
       font-weight: 700;
       border-radius: 5px;
   }
   .top-banner{
       background-image: url(images/top-banner.png);
       background-repeat: no-repeat;
   }